<form name="addform">
    <div class = "form-group">
        <label for = "member-name">Member Name</label>
        <input type = "text" id = "member-name" ng-model = "$ctrl.memberName" required/>
    </div>

    <div class = "form-group">
        <label for = "contact-name">Contact Name</label>
        <input type = "text" id = "contact-name" ng-model = "$ctrl.contactName" required/>
    </div>

    <div class = "form-group">
        <label for = "contact-phone">Contact Phone</label>
        <input type = "text" id = "contact-phone" ng-model = "$ctrl.contactPhone" required/>
    </div>

    <div class = "form-group">
        <label for = "contact-email">Contact Email</label>
        <input type = "email" id = "contact-email" ng-model = "$ctrl.contactEmail" required/>
    </div>

    <div class = "form-group">
        <button ng-disabled="!addform.$valid" class="btn-primary" ng-click = "$ctrl.addMember()">Add Member</button>
    </div>

    <span ng-if = "$ctrl.errorMsg">{{$ctrl.errorMsg}}</span>

    <span ng-if = "$ctrl.successMsg">
    {{$ctrl.successMsg}}. View details <a ng-href = "#!/members/{{$ctrl.successId}}">here</a>
</span>
</form>